# Hotel Booking Demand
## 17 April 2020
#### A learning project 
#### Hani Nguyen

### Objectives
- Explore hotel booking demand
- Build a model to predict booking possibility based on the 'previous_cancellation'.

### Attributes
- Numerical: 
    - 'lead_time': Number of days that elapsed between the entering date of the booking into the PMS and the arrival date
    - 'arrival_date_year': Year of arrival date	
    - 'arrival_date_week_number': Week number of the arrival date
    - 'arrival_date_day_of_month': Day of the month of the arrival date
    - 'stays_in_weekend_nights': Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel.
    - 'stays_in_week_nights': Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel.
    - 'adults': Number of adults	
    - 'children': Number of children	
    - 'babies': Number of babies	 
     - 'previous_cancellations': Number of previous bookings that were cancelled by the customer prior to the current booking.     
    - 'previous_bookings_not_canceled': Number of previous bookings not cancelled by the customer prior to the current booking .
     - 'booking_changes': Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation. 
    - 'days_in_waiting_list': Number of days the booking was in the waiting list before it was confirmed to the customer.
    - 'adr': Average Daily Rate
    - 'required_car_parking_spaces': Number of car parking spaces required by the customer.
    - 'total_of_special_requests': Number of special requests made by the customer (e.g. twin bed or high floor).
- Categorical:  
    - 'hotel': Resort or City Hotel
    - 'is_canceled': Value indicating if the booking was canceled (1) or not (0)
    - 'arrival_date_month': Month of arrival date with 12 categories: “January” to “December”.
    - 'meal': Type of meal booked. Categories are presented in standard hospitality meal packages:
        - Undefined/SC – no meal package;
        - BB – Bed & Breakfast;
        - HB – Half board (breakfast and one other meal – usually dinner);
        - FB – Full board (breakfast, lunch and dinner)
    - 'country': Country of origin. Categories are represented in the ISO 3155–3:2013 format.
    - 'market_segment': Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”
    - 'distribution_channel': Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”
    - 'is_repeated_guest': Value indicating if the booking name was from a repeated guest (1) or not (0)
    - 'reserved_room_type': Code of room type reserved. Code is presented instead of designation for anonymity reasons.
    - 'assigned_room_type': Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved room type due to hotel operation reasons (e.g. overbooking) or by customer request. Code is presented instead of designation for anonymity reasons. 
    - 'deposit_type': Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categories:
        - No Deposit
        - Non Refund – a deposit was made in the value of the total stay cost;
        - Refundable – a deposit was made with a value under the total cost of stay.
    - 'agent': ID of the travel agency that made the booking
    - 'company': ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons. 
    - 'customer_type': Type of booking, assuming one of four categories:
        - Contract - when the booking has an allotment or other type of contract associated to it;
        - Group – when the booking is associated to a group;
        - Transient – when the booking is not part of a group or contract, and is not associated to other transient booking;
        - Transient-party – when the booking is transient, but is associated to at least other transient booking
    - 'reservation_status': Reservation last status, assuming one of three categories:
        - Canceled – booking was canceled by the customer;
        - Check-Out – customer has checked in but already departed;
        - No-Show – customer did not check-in and did inform the hotel of the reason why
- Date: 'reservation_status_date': Date at which the last status was set. This variable can be used in conjunction with the ReservationStatus to understand when was the booking canceled or when did the customer checked-out of the hotel

## Step 1. Load data

In [1]:
#import libraries
import pandas as pd
pd.set_option('mode.chained_assignment', None)
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import cm
%matplotlib inline
import datetime

#machine learning libraries
from sklearn.preprocessing import LabelEncoder

In [2]:
#Load data
df = pd.read_csv(r"G:\Ninh\Language\Python\Hotel Booking Demand\hotel_bookings.csv")
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
#Get general info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [4]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

'adr' variable refers to the average price per night  of observation, so its values should not be lower than 0. We will deal with these values later on.

In [5]:
#unique values of categorical features
for col in df.columns:
    if df[col].dtype == 'object':
        print (col,":", df[col].unique(), "\n")

hotel : ['Resort Hotel' 'City Hotel']

arrival_date_month : ['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']

meal : ['BB' 'FB' 'HB' 'SC' 'Undefined']

country : ['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']

market_segment : ['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']

distribution_channel : ['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']

reserved_room_type : ['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']

assigned_room_type : ['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K']

deposit_type : ['No Deposit' 'Refundable' 'Non Refund']

customer_type : ['Transient' 'Contract' 'Transient-Party' 'Group']

reservation_status : ['Check-Out' 'Canceled' 'No-Show']

reservation_status_date : ['2015-07-01' '2015-07-02' '2015-07-03' '2015-05-06' '2015-04-22'
 '2015-06-23' '2015-07-05' '2015-07-06' '2015-07-07' '2015-07-08'
 '2015-05-11' '2015-07-15' '2015-07-16' '2015-05-29' '2015-05-19'
 '2015-06-19' '2015-05-23' '2015-05-18' '2015-07-09' '2015-06-02'
 '2015-07-13' '2015-07-04' '2015-06-29' '2015-06-16' '2015-06-18'
 '2015-06-12' '2015-06-09' '2015-05-26' '2015-07-11' '2015-07-12'
 '2015-07-17' '2015-04-15' '2015-05-13' '2015-07-10' '2015-05-20'
 '2015-05-12' '2015-07-14' '2015-06-17' '2015-05-01' '2015-03-30'
 '2015-07-19' '2015-06-03' '2015-06-26' '2015-05-14' '2015-07-20'
 '2015-05-07' '2015-05-28' '2015-04-13' '2015-03-25' '2015-07-21'
 '2015-06-27' '2015-07-18' '2015-07-23' '2015-06-08' '2015-06-22'
 '2015-06-24' '2015-03-05' '2015-06-01' '2015-04-24' '2015-07-22'
 '2015-05-27' '2015-04-06' '2015-04-11' '2015-07-25' '2015-07-28'
 '2015-07-29' '2015-06-25' '2015-07-24' '2015-06-05' '2015-06-30'
 '2015-06-13' '2015-06-11' '2015-07-30' '2015-07-27' '2015-04-29'
 '2015-06-04' '2015-07-26' '2015-08-01' '2015-08-02' '2015-06-15'
 '2015-04-23' '2015-07-31' '2015-05-25' '2015-08-03' '2015-04-17'
 '2015-08-04' '2015-08-06' '2015-05-15' '2015-05-09' '2015-03-17'
 '2015-05-22' '2015-08-07' '2015-04-04' '2015-08-05' '2015-08-08'
 '2015-08-10' '2015-05-04' '2015-06-06' '2015-08-09' '2015-08-15'
 '2015-08-11' '2015-03-28' '2015-08-14' '2015-08-12' '2015-08-16'
 '2015-05-16' '2015-08-21' '2015-08-13' '2015-08-17' '2015-04-20'
 '2015-08-18' '2015-08-23' '2015-08-22' '2015-08-19' '2015-08-20'
 '2015-08-29' '2015-03-31' '2015-05-30' '2015-08-25' '2015-04-14'
 '2015-08-24' '2015-03-24' '2015-05-21' '2015-08-28' '2015-08-26'
 '2015-08-27' '2015-08-30' '2015-08-31' '2015-09-06' '2015-09-03'
 '2015-09-04' '2015-09-02' '2015-09-01' '2015-09-05' '2015-06-20'
 '2015-09-07' '2015-09-10' '2015-09-11' '2015-09-08' '2015-09-09'
 '2015-09-13' '2015-09-15' '2015-04-10' '2015-01-02' '2014-11-18'
 '2015-09-12' '2015-09-17' '2015-09-14' '2015-04-07' '2015-09-19'
 '2015-09-16' '2015-09-20' '2015-01-18' '2015-10-23' '2015-01-22'
 '2015-01-01' '2015-09-22' '2015-09-24' '2015-09-18' '2015-09-21'
 '2015-09-30' '2015-09-25' '2015-09-27' '2015-09-28' '2015-10-12'
 '2015-09-29' '2015-09-23' '2015-10-01' '2015-09-26' '2015-04-18'
 '2015-10-02' '2015-10-04' '2015-10-08' '2015-10-03' '2015-10-07'
 '2015-10-09' '2015-10-11' '2015-10-05' '2015-10-06' '2015-10-10'
 '2015-10-14' '2015-10-15' '2015-10-18' '2015-10-13' '2015-10-20'
 '2015-10-19' '2015-10-31' '2015-10-16' '2015-10-21' '2015-10-22'
 '2015-10-17' '2015-10-24' '2015-10-25' '2015-10-28' '2015-10-27'
 '2015-10-26' '2015-10-30' '2015-11-05' '2015-10-29' '2015-11-03'
 '2015-11-07' '2015-11-04' '2015-11-01' '2015-11-02' '2015-11-17'
 '2015-11-06' '2015-11-10' '2015-11-08' '2015-11-09' '2015-11-15'
 '2015-11-16' '2015-11-11' '2015-11-12' '2015-11-14' '2015-11-13'
 '2015-11-18' '2015-11-22' '2015-11-19' '2015-11-21' '2015-11-20'
 '2015-11-24' '2015-11-25' '2015-11-23' '2015-11-28' '2015-11-26'
 '2015-11-27' '2015-11-29' '2015-12-04' '2015-12-01' '2015-12-06'
 '2015-12-08' '2015-12-02' '2015-12-03' '2015-12-31' '2015-12-05'
 '2015-12-10' '2015-12-17' '2015-11-30' '2015-12-12' '2015-12-07'
 '2016-01-05' '2015-12-11' '2015-12-13' '2015-12-15' '2015-12-16'
 '2015-12-19' '2015-12-18' '2015-12-26' '2015-12-27' '2015-12-22'
 '2015-12-23' '2015-12-24' '2015-12-29' '2015-12-28' '2015-12-20'
 '2015-12-30' '2016-01-02' '2016-01-01' '2015-12-25' '2016-01-03'
 '2016-01-04' '2016-01-11' '2016-01-07' '2015-12-21' '2016-01-09'
 '2016-01-10' '2016-01-08' '2016-01-06' '2016-01-12' '2016-01-13'
 '2016-01-23' '2016-02-09' '2016-01-15' '2016-01-16' '2016-01-17'
 '2016-01-19' '2016-01-18' '2016-01-21' '2016-01-24' '2016-01-22'
 '2016-01-29' '2016-01-27' '2016-01-25' '2016-03-08' '2016-01-26'
 '2016-01-20' '2016-01-30' '2016-02-01' '2016-02-02' '2016-02-08'
 '2016-02-07' '2016-01-28' '2016-02-05' '2016-02-03' '2016-02-13'
 '2016-02-10' '2016-02-04' '2016-02-12' '2016-02-11' '2016-02-16'
 '2016-02-14' '2016-02-15' '2016-02-20' '2016-02-06' '2016-01-14'
 '2016-02-17' '2016-02-21' '2016-02-24' '2016-02-25' '2016-02-19'
 '2016-02-18' '2016-02-26' '2016-02-23' '2016-03-05' '2016-02-22'
 '2016-02-27' '2016-03-03' '2016-03-24' '2016-03-04' '2016-02-29'
 '2016-03-01' '2016-03-02' '2016-03-30' '2016-03-07' '2016-03-14'
 '2016-03-21' '2016-03-09' '2016-03-12' '2016-03-22' '2016-03-10'
 '2016-03-11' '2016-03-20' '2016-03-15' '2016-03-17' '2016-03-16'
 '2016-03-19' '2016-03-27' '2016-03-18' '2016-03-26' '2016-03-31'
 '2016-03-28' '2016-03-29' '2016-04-01' '2016-03-23' '2016-04-02'
 '2016-03-25' '2016-03-13' '2016-04-04' '2016-04-03' '2016-04-05'
 '2016-04-08' '2016-04-06' '2016-04-09' '2016-04-12' '2016-04-16'
 '2016-04-17' '2016-04-27' '2016-04-14' '2016-04-18' '2016-04-21'
 '2016-04-19' '2016-04-20' '2016-04-10' '2016-04-13' '2016-04-11'
 '2016-04-07' '2016-04-15' '2016-04-22' '2016-04-23' '2016-04-26'
 '2016-04-28' '2016-04-24' '2016-04-25' '2016-04-29' '2016-04-30'
 '2016-05-01' '2016-05-10' '2016-05-02' '2016-05-07' '2016-05-08'
 '2016-05-12' '2016-05-04' '2016-05-06' '2016-05-03' '2016-05-09'
 '2016-05-05' '2016-05-13' '2016-05-14' '2016-05-18' '2016-05-19'
 '2016-05-15' '2016-05-16' '2016-05-11' '2016-05-21' '2016-05-22'
 '2016-05-20' '2016-05-24' '2016-05-25' '2016-05-26' '2016-05-23'
 '2016-05-27' '2016-05-17' '2016-05-29' '2016-05-28' '2016-05-30'
 '2016-05-31' '2016-06-01' '2016-06-03' '2016-06-08' '2016-06-02'
 '2016-06-05' '2016-06-06' '2016-06-13' '2016-06-07' '2016-06-10'
 '2016-06-11' '2016-06-16' '2016-06-12' '2016-06-14' '2016-06-17'
 '2016-06-04' '2016-06-18' '2016-06-21' '2016-06-09' '2016-06-24'
 '2016-06-20' '2016-06-25' '2016-06-22' '2016-06-26' '2016-06-23'
 '2016-07-01' '2016-06-15' '2016-06-28' '2016-07-02' '2016-06-19'
 '2016-06-27' '2016-07-04' '2016-06-30' '2016-07-05' '2016-07-08'
 '2016-07-09' '2016-07-07' '2016-07-12' '2016-06-29' '2016-07-10'
 '2016-07-15' '2016-07-03' '2016-07-16' '2016-07-14' '2016-07-18'
 '2016-07-13' '2016-07-06' '2016-07-20' '2016-07-21' '2016-07-23'
 '2016-07-19' '2016-07-11' '2016-07-28' '2016-07-17' '2016-07-25'
 '2016-07-22' '2016-07-29' '2016-08-03' '2016-08-02' '2016-08-04'
 '2016-08-08' '2016-08-10' '2016-08-01' '2016-08-06' '2016-03-06'
 '2016-08-05' '2016-07-26' '2016-08-07' '2016-07-30' '2016-07-24'
 '2016-08-12' '2016-07-27' '2016-08-13' '2016-08-18' '2016-08-16'
 '2016-08-15' '2016-08-17' '2016-08-11' '2016-07-31' '2016-08-19'
 '2016-09-01' '2016-08-23' '2016-08-26' '2016-08-20' '2016-08-21'
 '2016-09-04' '2016-08-22' '2016-08-27' '2016-08-25' '2016-08-09'
 '2016-09-05' '2016-08-24' '2016-09-10' '2016-08-29' '2016-09-09'
 '2016-08-30' '2016-09-13' '2016-08-31' '2016-09-14' '2016-09-12'
 '2016-09-15' '2016-08-14' '2016-09-02' '2016-09-08' '2016-09-19'
 '2016-09-16' '2016-09-07' '2016-09-21' '2016-09-06' '2016-09-22'
 '2016-09-17' '2016-09-20' '2016-09-03' '2016-09-26' '2016-09-23'
 '2016-09-18' '2016-09-29' '2016-10-02' '2016-10-01' '2016-09-27'
 '2016-09-25' '2016-10-05' '2016-09-11' '2016-09-30' '2016-10-09'
 '2016-10-03' '2016-10-06' '2016-10-11' '2016-09-24' '2016-10-13'
 '2016-09-28' '2016-10-08' '2016-10-07' '2016-10-16' '2016-08-28'
 '2016-10-17' '2016-10-18' '2016-10-10' '2016-10-04' '2016-10-15'
 '2016-10-19' '2016-10-21' '2016-10-12' '2016-10-24' '2016-10-26'
 '2016-10-23' '2016-10-20' '2016-10-25' '2016-10-27' '2016-10-28'
 '2016-10-30' '2016-10-29' '2016-11-01' '2016-11-04' '2016-10-14'
 '2016-11-07' '2016-11-03' '2016-11-10' '2016-11-14' '2016-11-02'
 '2016-10-31' '2016-11-11' '2016-11-08' '2016-11-05' '2016-11-25'
 '2016-11-09' '2016-11-20' '2016-11-21' '2016-10-22' '2016-11-22'
 '2016-11-16' '2016-11-23' '2016-11-17' '2016-11-06' '2016-11-15'
 '2016-11-13' '2016-11-12' '2016-11-27' '2016-11-19' '2016-11-30'
 '2016-11-18' '2016-12-02' '2016-12-04' '2016-11-29' '2016-12-07'
 '2016-11-28' '2016-12-03' '2016-12-06' '2016-11-24' '2016-12-08'
 '2016-12-05' '2016-12-10' '2016-12-13' '2016-12-14' '2016-12-16'
 '2016-12-15' '2016-12-17' '2016-12-19' '2016-12-21' '2016-12-20'
 '2016-12-22' '2016-12-23' '2016-12-24' '2016-12-01' '2016-12-27'
 '2016-12-29' '2016-12-30' '2016-12-12' '2017-01-02' '2016-12-11'
 '2017-01-03' '2017-01-04' '2017-01-01' '2016-12-26' '2017-01-06'
 '2016-12-28' '2016-12-18' '2017-01-10' '2017-01-11' '2017-01-07'
 '2017-01-12' '2017-01-16' '2017-01-14' '2017-01-13' '2017-01-05'
 '2017-01-17' '2017-01-20' '2016-12-09' '2017-01-26' '2016-12-31'
 '2017-01-23' '2017-01-27' '2017-01-28' '2017-01-19' '2017-01-25'
 '2017-01-24' '2017-01-29' '2017-01-18' '2016-12-25' '2017-01-15'
 '2017-01-21' '2017-02-01' '2017-02-02' '2017-01-31' '2017-02-03'
 '2017-02-04' '2017-02-06' '2017-02-07' '2017-02-08' '2017-01-30'
 '2017-02-09' '2017-01-09' '2017-02-11' '2017-02-10' '2017-02-12'
 '2017-02-13' '2017-02-14' '2017-02-16' '2017-02-17' '2017-02-18'
 '2017-02-19' '2017-02-20' '2017-02-15' '2017-02-21' '2017-02-22'
 '2017-02-26' '2017-02-23' '2017-02-24' '2017-02-25' '2017-02-28'
 '2017-03-05' '2017-02-27' '2017-03-03' '2017-03-06' '2017-03-02'
 '2017-03-08' '2017-03-09' '2017-03-10' '2017-03-07' '2017-03-12'
 '2017-03-13' '2017-03-14' '2017-03-01' '2017-03-18' '2017-03-17'
 '2017-03-24' '2017-03-22' '2017-03-26' '2017-03-27' '2017-03-11'
 '2017-03-28' '2017-03-29' '2017-03-30' '2017-03-31' '2017-03-19'
 '2017-01-22' '2017-04-02' '2017-03-20' '2017-04-03' '2017-01-08'
 '2017-03-23' '2017-04-05' '2017-02-05' '2017-04-04' '2017-03-15'
 '2017-04-07' '2017-03-25' '2017-04-08' '2017-04-06' '2017-03-21'
 '2017-04-10' '2017-04-01' '2017-04-11' '2017-04-13' '2017-04-15'
 '2017-04-12' '2017-03-04' '2017-04-19' '2017-04-22' '2017-04-20'
 '2017-05-02' '2017-04-09' '2017-04-23' '2017-04-24' '2017-04-16'
 '2017-04-28' '2017-04-18' '2017-04-26' '2017-04-25' '2017-04-17'
 '2017-04-21' '2017-05-03' '2017-05-04' '2017-03-16' '2017-05-05'
 '2017-04-29' '2017-04-14' '2017-05-08' '2017-04-27' '2017-05-11'
 '2017-05-01' '2017-05-10' '2017-05-13' '2017-05-06' '2017-05-14'
 '2017-05-16' '2017-04-30' '2017-05-15' '2017-05-07' '2017-05-09'
 '2017-05-17' '2017-05-21' '2017-05-12' '2017-05-22' '2017-05-24'
 '2017-05-23' '2017-05-25' '2017-05-26' '2017-05-28' '2017-05-27'
 '2017-05-29' '2017-05-19' '2017-05-31' '2017-05-20' '2017-06-01'
 '2017-05-30' '2017-06-02' '2016-11-26' '2017-06-04' '2017-06-05'
 '2017-06-06' '2017-06-07' '2017-05-18' '2017-06-09' '2017-06-10'
 '2017-06-11' '2017-06-12' '2017-06-14' '2017-06-08' '2017-06-16'
 '2017-06-13' '2017-06-03' '2017-06-24' '2017-06-20' '2017-06-19'
 '2017-06-21' '2017-06-26' '2017-06-27' '2017-06-22' '2017-06-28'
 '2017-06-15' '2017-06-29' '2017-06-30' '2017-06-18' '2017-07-04'
 '2017-07-08' '2017-07-05' '2017-07-03' '2017-07-07' '2017-07-01'
 '2017-07-06' '2017-07-11' '2017-07-12' '2017-06-23' '2017-07-13'
 '2017-07-02' '2017-07-10' '2017-07-14' '2017-07-15' '2017-07-16'
 '2017-07-18' '2017-07-17' '2017-07-19' '2017-07-20' '2017-07-21'
 '2017-06-25' '2017-06-17' '2017-07-24' '2017-07-26' '2017-07-09'
 '2017-07-27' '2017-07-28' '2017-07-31' '2017-07-29' '2017-07-22'
 '2017-08-02' '2017-08-01' '2017-08-03' '2017-08-04' '2017-07-25'
 '2017-07-23' '2017-08-09' '2017-08-10' '2017-07-30' '2017-08-07'
 '2017-08-13' '2017-08-05' '2017-08-14' '2017-08-08' '2017-08-16'
 '2017-08-17' '2017-08-15' '2017-08-18' '2017-08-20' '2017-08-22'
 '2017-08-06' '2017-08-25' '2017-08-26' '2017-08-23' '2017-08-11'
 '2017-08-27' '2017-08-21' '2017-08-29' '2017-08-31' '2017-08-12'
 '2017-08-19' '2016-01-31' '2017-09-01' '2017-08-28' '2015-04-03'
 '2015-01-21' '2015-01-28' '2015-01-29' '2015-01-30' '2015-02-02'
 '2015-02-05' '2015-02-06' '2015-02-09' '2015-02-10' '2015-02-11'
 '2015-02-12' '2015-02-19' '2015-02-20' '2015-02-23' '2015-02-24'
 '2015-02-25' '2015-02-26' '2015-02-27' '2015-03-03' '2015-03-04'
 '2015-03-06' '2015-03-09' '2015-03-11' '2015-03-12' '2015-03-18'
 '2015-04-02' '2015-06-14' '2015-04-08' '2015-04-16' '2015-04-25'
 '2015-04-28' '2015-05-08' '2017-09-06' '2016-02-28' '2015-12-09'
 '2015-12-14' '2017-09-09' '2017-09-02' '2017-08-24' '2017-08-30'
 '2017-09-03' '2017-09-04' '2017-09-05' '2017-09-07' '2017-09-08'
 '2017-09-10' '2017-09-12' '2017-09-14' '2015-04-30' '2015-04-21'
 '2015-04-05' '2015-03-13' '2015-05-05' '2015-03-29' '2015-06-10'
 '2015-04-27' '2014-10-17' '2015-01-20' '2015-02-17' '2015-03-10'
 '2015-03-23']

There are some categorical variables with 'Undefined' as unique values, such as meal, market_segment,distribution_channel variables. We will convert these 'Undefined' values to NaNs values.

##  Step 2. Preprocessing data

#### 2.1 Convert NULL/ Undefined values to np.nan

In [6]:
#convert 'Undefined' and 'NULL' values to np.nan
for col in df.columns:
    if df[col].dtype == 'object':
        df[col][df[col].str.contains('Undefined', na =False)] = np.nan
        df[col][df[col].str.contains('NULL', na =False)] = np.nan

In [7]:
#print all null values of each column
df_null = df.isnull().sum()
print(df_null[df_null>0])

children                     4
meal                      1169
country                    488
market_segment               2
distribution_channel         5
agent                    16340
company                 112593
dtype: int64

#### 2.2 Handle missing data

- We will delete the NULL values in 'market_segment', 'distribution_channel' variables since there are few NULL values in these fields. We will also delete NULL values in 'country' since we cannot impute them. 
- For NULL values in 'children', we will replace these values with 0, as the one who inputed these values might skip the answer when there are no children.

In [8]:
#drop NULL values
dropna = ['market_segment','distribution_channel','country']
df = df.dropna(subset = dropna)

In [9]:
#fill NaNs in children feature with 0
df['children']=df['children'].fillna(0)

In [10]:
#recheck unique values in variables with missing data
fill_na = ['meal','agent','company']
for col in fill_na:
    print (col,":", df[col].unique(), "\n")

meal : ['BB' 'FB' 'HB' 'SC' nan]

agent : [ nan 304. 240. 303.  15. 241.   8. 250. 115.   5. 175. 134. 156. 243.
 242.   3. 105.  40. 147. 306. 184.  96.   2. 127.  95. 146.   9. 177.
   6. 143. 244. 149. 167. 300. 171. 305.  67. 196. 152. 142. 261. 104.
  36.  26.  29. 258. 110.  71. 181.  88. 251. 275.  69. 248. 208. 256.
 314. 126. 281. 273. 253. 185. 330. 334. 328. 326. 321. 324. 313.  38.
 155.  68. 335. 308. 332.  94. 348. 310. 339. 375.  66. 327. 387. 298.
  91. 245. 385. 257. 393. 168. 405. 249. 315.  75. 128. 307.  11. 436.
   1. 201. 183. 223. 368. 336. 291. 464. 411. 481.  10. 154. 468. 410.
 390. 440. 495. 492. 493. 434.  57. 531. 420. 483. 526. 472. 429.  16.
  34. 252. 270.  47. 114. 301. 193. 182. 135. 350. 195. 352. 355. 159.
 139. 363. 384. 360. 331. 367.  64.  78. 406. 163. 414. 333. 427. 431.
 430. 426. 438. 433. 418. 441. 282. 432.  72. 450. 180. 454. 455.  59.
 451. 254. 358. 469. 165. 467. 510. 337. 476. 502. 527. 479. 508. 535.
 302. 497. 187.  13.   7.  27.  14.  22.  17.  28.  42.  20.  19.  45.
  37.  61.  39.  21.  24.  41.  50.  30.  54.  52.  12.  44.  31.  83.
  32.  63.  60.  55.  56.  89.  87. 118.  86.  85. 210. 214. 129. 179.
 138. 174. 170. 153.  93. 151. 119.  35. 173.  58.  53. 133.  79. 235.
 192. 191. 236. 162. 215. 157. 287. 132. 234.  98.  77. 103. 107. 262.
 220. 121. 205. 378.  23. 296. 290. 229.  33. 286. 276. 425. 484. 323.
 403. 219. 394. 509. 111. 423.   4.  70.  82.  81.  74.  92.  99.  90.
 112. 117. 106. 148. 158. 144. 211. 213. 216. 232. 150. 267. 227. 247.
 278. 280. 285. 289. 269. 295. 265. 288. 122. 294. 325. 341. 344. 346.
 359. 283. 364. 370. 371.  25. 141. 391. 397. 416. 404. 299. 197.  73.
 354. 444. 408. 461. 388. 453. 459. 474. 475. 480. 449.]

company : [ nan 110. 113. 270. 178. 240. 154. 144. 307. 268.  59. 204. 312. 318.
  94. 174. 274. 195. 223. 317. 281. 118.  53. 286.  12.  47. 324. 342.
 373. 371.  86.  82. 218.  88.  31. 397. 392. 405. 331. 367.  20.  83.
 416.  51. 395. 102.  34.  84. 360. 394. 382. 461. 478. 112. 486. 421.
   9. 308. 135. 224. 504. 269. 356. 498. 390. 513. 203. 263. 477. 521.
 169. 515. 445. 337. 251. 428. 292. 388. 130. 250. 355. 254. 543. 531.
 528. 120.  81. 116. 530. 103.  62.  39.  16.  61.  92. 501. 291. 290.
 192.  43. 465. 287. 297. 207. 437. 165. 329. 272.  28.  77. 482. 200.
  42. 338. 108.  72. 246. 319. 146. 159. 380. 323. 511. 407. 325. 278.
  80. 403. 399.  14. 137. 343. 346. 347. 349. 289. 351. 353.  54.  99.
 358. 361. 362. 366. 372. 365. 277. 109. 377. 379.  22. 378. 330. 364.
 401. 232. 255. 384. 167. 212. 514. 391. 400. 376. 402. 396. 302. 398.
 225.   6. 370. 369. 409. 168. 104. 408. 413. 148.  10. 333. 419. 415.
 424. 425. 423. 422. 435. 439. 442. 282. 448. 443. 454. 444.  52. 459.
 458. 456. 460. 447. 470. 466. 484. 184. 485.  32. 487. 491. 490. 494.
 193. 516. 496. 499.  29.  78. 520. 507. 506. 512. 126.  64. 242. 518.
 523. 539. 534. 436. 525. 541.  40. 455. 410.  45.  38.  49.  48.  67.
  68.  65.  91.  37.   8. 179. 209. 219. 221. 227. 153. 186. 253. 202.
 216. 275. 233. 280. 309. 321.  93. 316.  85. 107. 350. 334. 348. 150.
  73. 385. 418. 197. 450. 452. 115.  46.  76.  96. 100. 105. 101. 122.
  11. 139. 142. 127. 143. 140. 149. 163. 160. 180. 238. 183. 222. 185.
 217. 215. 213. 237. 230. 234.  35. 245. 158. 258. 259. 260. 411. 257.
 271.  18. 106. 210. 273.  71. 284. 301. 305. 293. 264. 311. 304. 313.
 288. 320. 314. 332. 341. 352. 243. 383. 368. 393. 132. 220. 412. 420.
 426. 417. 429. 433. 446. 357. 479. 483. 489. 229. 481. 497. 451. 492.]

- In 'meal' variable, 'Undefined' and 'SC' mean that there are no meal type. We previously changed the 'Undefined' to NULL, therefore, now we will fill the NULL values with 'SC'.
- For 'agent' and 'company' variables, NULL values mean that reservation did not made by any agency/ company, the customers might made the reservation by themselves. So we should not delete these values. Instead, we will replace these NULL values with a random value like 999.

In [11]:
#replace NULL values in 'meal' with 'SC'
df['meal'] = df['meal'].fillna('SC')

In [12]:
#replace NULL values in 'agent' and 'company' with 999
df['agent']= df['agent'].fillna(999)
df['company'] = df['company'].fillna(999)

In [13]:
#recheck NULL values
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

#### 2.3 Delete wrong values

In [14]:
df['adr'].describe()

count    118897.000000
mean        102.003153
std          50.486065
min          -6.380000
25%          70.000000
50%          95.000000
75%         126.000000
max        5400.000000
Name: adr, dtype: float64

In [15]:
(df['adr'] < 0).sum()

1

As shown above, all 'adr' values that are below 0 are not correct. Since there is only 1 incorrect value, we will simply remove it.

In [16]:
df=df[df['adr']>0]

#### 2.4. Handle Date

In [17]:
def time_convert(date):
    return datetime.datetime.strptime(date, '%Y-%m-%d').date()

In [18]:
df['reservation_status_date'] = df['reservation_status_date'].apply(lambda date: time_convert(date))
df['reservation_status_date']

2         2015-07-02
3         2015-07-02
4         2015-07-03
5         2015-07-03
6         2015-07-03
             ...
119385    2017-09-06
119386    2017-09-07
119387    2017-09-07
119388    2017-09-07
119389    2017-09-07
Name: reservation_status_date, Length: 116958, dtype: object

In [19]:
#show final data
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,999.0,999.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,999.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,999.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,999.0,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,999.0,999.0,0,Transient,107.0,0,0,Check-Out,2015-07-03

In [20]:
#export final data to csv
#df.to_csv(r'G:\Ninh\Python\Hotel Booking Demand\Hotel_Booking_Demand_Final.csv',index = False)